services:
  app:
    build:
      context: .
      args:
        SKIP_ASSETS: ${SKIP_ASSETS:-0}
    ports:
      - "4000:4000"
    volumes:
      - .:/app
      - mix_deps:/app/deps
      - mix_build:/app/_build
    environment:
      MIX_ENV: dev
      SKIP_ASSETS: ${SKIP_ASSETS:-0}
    command: mix phx.server

volumes:
  mix_deps:
  mix_build:
